.productsContainer{
    background-color: $backgroundLight;
    transition:  background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textNegro;
    min-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    hr{
        width: 100%;
        margin-bottom: 10rem;
        margin-top: 10rem;
    }
}
.oscuro{
    background-color: $backgroundDark;
    transition: background-color 0.3s ease;
}