$titulos: Arial, Helvetica, sans-serif;
$fondo-body: #212121;
$color-Hover: #7a6e6e75;
$background-h1: #333;
$cTexto: #c9c9c9;
$carritoItem: #c0c0c0;
$primario: #67d2da;
$secundario: #1c1211;
$acento: #3dd1ff;

$backgroundLight: #ffffff;
$textoLogo: #beb594;
$textColor: #333438;
$textNegro: #000;
$primary: #bdaacf;
$secondary: #787878;
$ascent: #6e6653;


//! Experimental 
$backgroundDark: #333438;
$textColorDark: #ffffff;

